/Lab1-Compulsory/build/
/Lab1-Compulsory/nbproject/private/
/Lab4/nbproject/private/
/Lab4/build/
/Lab5/nbproject/private/
/Lab4/target/
/Lab5/build/
/Lab5_Maven/target/
/Lab5_Mav/target/
/Lab6/target/
/Lab7/target/
/Lab8/target/
/Lab8_(ant)/nbproject/private/
/Lab8_(ant)/build/
/Streams_examples&test/nbproject/private/
/Streams_examples&test/build/
/exercitiu_DFS/target/
/Comparatori/target/
